{% extends 'base.html' %}

{% block title %}Log In{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
    <h2>Log In</h2>
    <form method="post">
        {% csrf_token %}
        {{ form| crispy}}
        <button type="submit" class = "btn btn-success ml-2">Log In</button>
    </form>
{% endblock content %}