{% extends 'base.html' %}

{% block title %}Forgot Password?{% endblock title %}

{% block content %}
    <h1>Forgot Password?</h1>
    <p>Enter your email address below, and we'll email the instructions for setting a new one.</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send me instructions" class="btn btn-success">
    </form>
{% endblock content %}