{% extends 'base.html' %}

{% block title %}Password reset done{% endblock title %}

{% block content %}
    <h1>Password reset done</h1>
    <p>Your new password has been set. You can now log in on the 
        <a href="{% url 'login' %}">log in page</a>.
    </p>
{% endblock content %}