{% extends 'base.html' %}

{% block title %}Password Change{% endblock title %}

{% load crispy_forms_tags %}
{% block content %}
    <h2>Password Change</h2>
    <p>Please enter your old password, for security's sake, and then enter your new password 
        twice so we can verify you typed it in correctly.</p>
    <form method = "POST">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="button" value="Change my password" class="btn btn-success">
    </form>
{% endblock content %}