{% extends 'base.html' %}

{% block content %}
    <div class="article-entry">
        <h2>{{ article.title }}</h2>
        <p>by {{ article.author }} | {{ article.date }}</p>
        <p>{{ article.body }}</p>
        <p><a href="{% url 'article_edit' article.pk %}">Edit</a> | 
            <a href="{% url 'article_delete' article.pk %}">Delete</a>
        </p>
        <p>Back to <a href="{% url 'article_list' %}">All article</a>.</p>
        
    </div>
{% endblock content %}