{% extends 'base.html' %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <h1>Delete</h1>
    <p>Are you sure you want to delete {{ article.title }}?</p>
    <!-- <input type="submit" value="Confirm" class="btn btn-danger ml-2"> -->
    <button class = "btn btn-danger ml-2" type="submit">Confirm</button>
</form>
{% endblock content %}