{% extends 'base.html' %}

{% block title %}Home{% endblock title %} 

{% block content %}
    <!-- {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        You are not logged in.
        <p><a href="{% url 'login' %}">Log In</a></p>
        <p><a href="{% url 'signup' %}">Sign Up</a></p>
    {% endif %} -->

    <div class="jumbotron">
        <h1 class="display-4">Newspaper App</h1>
        <p class="lead">A Newspaper website built with Django</p>
        <p class="lead">
            <a href="{% url 'article_list' %}" role="button" class="btn btn-primary btn-large">
                View all articles</a>
        </p>
    </div>
{% endblock content %}